<%= puts word.id %>
<div id="active_admin_content" class="without_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <%= semantic_form_for :wordset, (controller: :words, method: :patch) do |f| %>
        <%= f.inputs 'Word' do %>
          <%= f.input :word %>
        <% end %>
        <%= f.inputs 'English', for: :en do |en| %>
          <%= en.input :common %>
          <%= en.input :specific_present_statement %>
          <%= en.input :specific_past_statement %>
        <% end %>
        <%= f.inputs 'Russian', for: :ru do |ru| %>
          <%= ru.input :present_i %>
          <%= ru.input :present_you %>
          <%= ru.input :present_we %>
          <%= ru.input :present_they %>
          <%= ru.input :present_he %>
          <%= ru.input :present_she %>
          <%= ru.input :past_i %>
          <%= ru.input :past_you %>
          <%= ru.input :past_we %>
          <%= ru.input :past_they %>
          <%= ru.input :past_he %>
          <%= ru.input :past_she %>
          <%= ru.input :future_i %>
          <%= ru.input :future_you %>
          <%= ru.input :future_we %>
          <%= ru.input :future_they %>
          <%= ru.input :future_he %>
          <%= ru.input :future_she %>
        <% end %>
        <%= f.inputs 'Interrogatives', for: :interrogatives do |ru| %>
          <%= ru.input :interrogatives %>
        <% end %>
        <%= f.actions do %>
          <%= f.action :submit, :as => :button %>
        <% end %>
      <% end %>
   </div>
  </div>
</div>